@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz,wght.ttf");
}

* {
    -fx-font-family: "Inter";
}

.general-vbox {
    -fx-background-image: url("../images/background-image.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.jfx-combo-box {
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
}

.label-button {
    -fx-cursor: hand;
}

.header-button {
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-border-radius: 12px;
    -fx-background-radius: 14px;
    -fx-border-width: 2.5px;
}

.blue-white-button {
    -fx-border-color: #1400CA;
    -fx-background-color: white;
}

.blue-gray-button {
    -fx-border-color: #1400CA;
    -fx-background-color: #DDD;
}

.black-white-button {
    -fx-border-color: #000;
    -fx-background-color: white;
}

.center-vbox {
    -fx-background-color: rgba(255, 255, 255, 0.4);
}

.input {
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-font-size: 16px;
    -fx-border-radius: 12px;
    -fx-background-radius: 14px;
    -fx-border-width: 2.5px;
}

.groups-vbox {
    -fx-border-width: 3px;
    -fx-border-color: white;
}

.groups-vbox * {
    -fx-text-fill: black;
}

.table-header {
   -fx-font-size: 16px;
   -fx-alignment: center;
   -fx-border-width: 2.5px;
}

.table-group {
    -fx-border-width: 3px;
    -fx-border-color: black;
}

.group-header {
   -fx-font-size: 16px;
   -fx-alignment: center;
   -fx-border-radius: 9px;
   -fx-background-radius: 11px;
   -fx-border-width: 2.5px;
}

.id-header {
   -fx-font-size: 16px;
   -fx-alignment: center;
   -fx-border-radius: 100px;
   -fx-background-radius: 100px;
   -fx-border-width: 2.5px;
}

.data-headers, .data-items {
   -fx-font-size: 16px;
   -fx-alignment: center;
   -fx-border-radius: 9px;
   -fx-background-radius: 11px;
   -fx-border-width: 2.5px;
}

.text-field-clear-padding-cursor-default {
   -fx-padding: 0;
   -fx-cursor: default;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}



